th,
td {
  /* border: 1px solid #ccc; */
  /* border: 0; */
  padding: 6px 12px;
}

td {
  height: 20px;
  /* text-align: center; */
  vertical-align: bottom;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

th {
  background-color: aqua;
}
td {
  border-bottom: 1px solid black;
}

tr:nth-child(even) {
  background-color: lightgray;
}

tr:hover {
  background-color: gray;
  color: white;
}
